# Ignore TMC internal grading scripts
**/tmc/
**/test/
**/.tmcproject.yml
**/.tmc.json
**/course_config.toml

**/.vscode

# Ignore Python cache
**/__pycache__/
**/*.pyc

#Ignore keys
**/*.key
**/private.key
